body{
    background-color: rgb(182, 241, 241);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    color: black;
    text-decoration:wavy underline;
    text-decoration-thickness: 0.25px;
    text-decoration-color: brown;
    text-shadow: 0px 0px 20px rgb(90, 32, 31);
}


h2{
    color: green;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 200px;
}
button{
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

